@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
  }
  html {
    overflow-x: hidden;
  }
}
.container-custom {
  @apply w-11/12 mx-auto md:w-[85%];
}
.nav-link-classes {
  @apply z-[5] absolute right-0 top-0 h-screen w-[60vw] mobileNav:w-auto mobileNav:h-auto mobileNav:relative bg-blue-100 mobileNav:bg-transparent text-sm lg:text-base font-medium text-white-200 mobileNav:text-blue-200 flex flex-col mobileNav:flex-row gap-9 mobileNav:gap-3 lg:gap-5 xl:gap-8 pt-40 pb-4 px-10 mobileNav:p-0 mobileNav:translate-x-0 transition-all duration-1000;
}
.input-fields {
  @apply border border-blue-400 h-12 md:h-16 bg-white-300 w-full px-2 rounded-lg text-grey-700 text-sm md:text-base;
}
.error {
  @apply text-red-700;
}
.input-textarea {
  @apply border border-blue-400 h-14 md:h-28 bg-white-300 w-full px-2 rounded-lg text-grey-700 mb-4;
}
.overlay {
  @apply fixed top-0 right-0 h-screen w-screen bg-black-200/50;
}
.modal {
  @apply text-white-200 fixed top-[15%] left-[50%] translate-x-[-50%] bg-blue-100 w-[280px] md:w-[486px] py-12 px-7 flex flex-col items-center gap-10 md:gap-14 rounded-lg;
}
